.data-api-container {
  width: 100%;
  height: 100%;
  display: flex;
  background: burlywood;
  transition: ease-in-out;
  flex-direction: column;
  transition-duration: 1s;
}
.api-bar-down,
.ip-bar-down {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 4%;
  background: rgb(232, 232, 232);
}
.ip-bar-down {
  margin: 18% 5% 2% 4%;
}

.api-bar-up,
.ip-bar-up {
  width: 90%;
  height: 10%;
  display: flex;
  margin: 0.8% 5%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgb(232, 232, 232);
}
.material-table {
  display: flex;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: violet;
  /* align-items: center; */
  justify-content: center;
  overflow-x: scroll;
}
.grayout {
  opacity: 0;
  display: none;
}

.submit {
  width: 10%;
  height: 60%;
  background-color: green;
  color: white;
  font-size: 1.5vw;
  font-weight: 500;
  border-radius: 10px;
}

.select-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: teal; */
}
.id-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  height: 60%;
  /* background-color: white; */
  border-radius: 20px;
}
.id-container input {
  height: 50%;
  padding-left: 1%;
  border-radius: 10px;

  outline: none;
  border-color: white;
  /* background-color: rgb(232, 232, 232); */
}
.ip-bar-down input,
.ip-bar-up input {
  width: 15%;
  height: 40%;
  margin: 1%;
  border-radius: 10px;
  outline: none;
  border-color: white;
  text-align: center;
  font-size: 1.2vw;
}

/* .ip-bar-down input:invalid,
.ip-bar-up input:invalid {
  background: url("../../Images/icon_fail.png") no-repeat scroll 7px 7px;
  background-position: 98% 50%;
  background-color: white;
}
.ip-bar-down input:valid,
.ip-bar-up input:valid {
  background: url("../../Images/icon_success.png") no-repeat scroll 7px 7px;
  background-position: 98% 50%;
  background-color: white;
} */
